{% extends "base.html" %}

{% block content %}

<section class="landing__main">
  <header class="header__landing">
    <figure class="header__landing_logo">
      <img src="/dist/img/6octubre.jpg" alt="Seis de Octubre" class="logo__seis" />
    </figure>
    <nav class="header__landing_menu">
      <ul class="menu__landing">
        <li class="item__landing"><a href="#">INICIO</a></li>
        <li class="item__landing"><a href="#">PORTAFOLIO</a></li>
        <li class="item__landing"><a href="#">INSTITUCION</a></li>
        <li class="item__landing"><a href="#">DOCUMENTOS</a></li>
      </ul>
    </nav>
  </header>
</section>

{% endblock %}
