<div class="accordian">
<ul>
  <li>
    <div class="image_title">
      <a href="#">Juramento</a>
    </div>
    <a href="#">
      <img src="/dist/img/juramento.jpg" width="640" height="320" />
    </a>
  </li>
  <li>
    <div class="image_title">
      <a href="#">Desfile Civico</a>
    </div>
    <a href="#">
      <img src="/dist/img/desfile.jpg" width="640" height="320" />
    </a>
  </li>
  <li>
    <div class="image_title">
      <a href="#">Fiesta del Colegio</a>
    </div>
    <a href="#">
      <img src="/dist/img/fiesta.jpg" width="640" height="320" />
    </a>
  </li>
  <li>
    <div class="image_title">
      <a href="#">Acto Civico</a>
    </div>
    <a href="#">
      <img src="/dist/img/acto.jpg" width="640" height="320" />
    </a>
  </li>
  <li>
    <div class="image_title">
      <a href="#">Reunion</a>
    </div>
    <a href="#">
      <img src="/dist/img/reunion.jpg" width="640" height="320" />
    </a>
  </li>
</div>
