.form__contraseña
  background #fff8e1
  box-shadow 0 1px 2px rgba(43,59,93,0.29)
  width 50%
  padding .5em
  margin 3em auto

.cambiar__btn
  outline 0
  width 10em
  border 0
  background blue
  color white
  cursor pointer
  border-radius 2px
  position relative
  left 22em
  transition .1s all ease
  &:hover
    box-shadow 0 1px 2px rgba(black, 0.7)
