.forms
  box-shadow 0px 1px 1.5px rgba(black,.6)
  font-family 'Roboto'
  width 25em
  background white
  margin 0 auto

.group__inputs
  position relative
  width 80%
  margin 1.3em 0 1.3em 3em

.btn__send
  padding 0.4em 0
  background blue
  width 80%
  margin 0 auto
  display flex
  justify-content center
  border 0
  color white
  box-shadow 0 1px 1px rgba(black,.6)
  transition all ease .1s
  text-transform uppercase
  &:hover
    box-shadow 0 1px 8px rgba(black,.8)
  span
    padding 0.2em

.btn__register
  a
    background teal
    color white
    text-decoration none
    width 80%

input
  font-size 18px
  padding 6px 0
  display block
  width 100%
  border none
  border-bottom 1px solid #757575
  outline none

.icon__input
  position absolute
  width 3rem
  left -1em
  top 0.2em

input:focus ~ .icon__input
input:valid ~ .icon__input
  color blue

label
  font-size 18px
  font-weight normal
  position absolute
  pointer-events none
  left 5px
  top 10px
  transition 0.2s ease all

input:focus ~ label
input:valid ~ label
  font-size 14px
  top -20px
  color blue

.bar
  position relative
  display block
  width 100%

.bar:before
.bar:after
  content ''
  height 2px
  width 0
  bottom 1px
  position absolute
  background blue
  transition 0.2s ease all

.bar:before
  left 50%

.bar:after
  right 50%

input:focus ~ .bar:before
input:focus ~ .bar:after
  width 50%

.highlight
  position absolute
  height 60%
  width 100px
  top 25%
  left 0
  pointer-events none
  opacity 0.5

input:focus ~ .highlight
  animation inputHighlighter 0.3s ease

@keyframes inputHighlighter
  from
    background blue
  to
    width 0
    background transparent
