.landing__main
  background url("../img/fonde.jpg")
  background-position center
  background-size cover
  height 40em
  position relative

.header__landing
  display flex
  justify-content space-between

.header__landing_logo
  margin 0

.header__landing_logo
  margin 0em

.menu__landing
  display flex
  justify-content space-around
  padding 1em
  width 40%

.item__landing
  padding .5em
  list-style  none
  &:hover
    background rgba(white, .2)
  a
    text-decoration none
    color white

.logo__seis
  width 9em
  height 8em
  margin 2em 0 0 2em

.pop__login
  position absolute
  top -50em
  left 28em
  margin 0 auto
  transition all ease 1s

.active__pop
  position fixed
  top 2em
  z-index 1
