.landing__main
  background url("../img/fonde.jpg") !important
  background-size cover
  background-position center bottom
  position relative
  height 100%

.header__landing
  display flex
  justify-content space-between

.header__landing_logo
  margin 0

.header__landing_logo
  margin 0em

.menu__landing
  display flex
  justify-content space-around
  padding 1em
  width 40%

.item__landing
  padding .5em
  list-style  none
  &:hover
    background rgba(white, .2)
  a
    text-decoration none
    color white

.logo__seis
  width 9em
  height 8em
  margin 2em 0 0 2em
